.footer{
    padding: 60px 0;
    background-color: #222328;
    width: 100%;
    color: #a1a9b6;
}
.icon-container{
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.icon{
    font-size: 30px;
    margin: 10px;
}
.list-container{
    width: 100%;
}
.list-container > ul{
    display: flex;
    flex-direction: column;
}

.list-container > ul > li{
    margin: 15px 0;
    list-style: none;
    font-family: 'DM Serif Text', serif;
}
.copyright-text{
    margin-left: 22px;
    font-family: 'DM Serif Text', serif;
}